.container
  display: flex
  overflow: hidden
  overflow-y: auto
  box-sizing: border-box
  .leftPlayers
    width: 200px
    max-width: 200px
    min-height: 100%
    padding-right: 10px
    box-sizing: border-box

  .right
    width: 100%
    overflow: hidden
    flex: 1
    box-sizing: border-box
    display: none
  &.playerDetail
    .leftPlayers
      display: none


@media screen and (max-width: 640px)
  .container
    width: 100%
    flex: 1
    .leftPlayers
      width: 100%
      flex: 1
      box-sizing: border-box
      max-width: unset
    .right
      display: none
    &.playerDetail
      .leftPlayers
        display: none
      .right
        display: block
