.basic
  display: flex
  align-items: center
  .gender
    color: blue
    margin: 0 4px
    &.fem
      color: pink
  .name
    font-weight: bold
    font-size: 12px
  .lv
    font-size: 12px
    margin-left: 4px
.exp
  margin-bottom: 10px
.workIcons
  display: flex
  align-items: center
  justify-content: space-between

  .workIcon
    display: flex
    align-items: center
    width: 16px
    height: 16px
    filter: grayscale(1)
    .value
      font-size: 12px
      margin-left: 4px
    &.ok
      filter: none

.attribute
  margin-top: 10px
  .attr
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 12px
    line-height: 22px
    .attr_name
      font-weight: bold
  