.container
  display: flex
  justify-content: center
  padding: 20px 16px
  border: 2px solid transparent
  flex-direction: column
  border-radius: 10px
  margin: 8px 0
  transition-duration: 300ms
  cursor: pointer
  &:first-child
    margin-top: 0
  &:hover
    opacity: .8

  .heading
    width: 100%
    display: flex
    align-items: center
    font-size: 12px
    .lv
      font-size: 12px
      font-weight: bold
      margin-right: 4px
    .tag
      margin-left: 8px
